/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.notes
/public/css/
/public/js/
/public/0.js
/public/1.js
/public/2.js
/public/*.js
/public/*.worker.js
/public/*.worker.js
/public/3.js
/public/css/*.css
/public/js/*.js
/public/fonts/vendor/bootstrap-sass/bootstrap/
