@import "~bootstrap/scss/bootstrap";

$theme-colors: (
        "primary": $cyan,
        "danger": #ff4136
);
@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

@function color($key: "blue") {
  @return map-get($colors, $key);
}
// Brands
$brand-primary: $cyan;
$brand-info: $cyan;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$enable-rounded:  true;
$enable-gradients:  true;
$enable-shadows:  true;

// loader vars
$loader-bg-transparency: 0.7;
$loader-bg-color: black;

// menu
$menu-text-color: #fff;
$menu-bg-active: #565555;
